/* externa fonter */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body { 
	background-color: #eee;
	font-family: 'Raleway';
}
input {
	font-family: 'Raleway';
}

a, a:visited { /* standardlänkar, och besökta länkar */
	color: blue;
	text-decoration: none;
}

a:hover { /* mouse hover på standardlänkar */
	text-decoration: underline;
}
 
/* 
* meny ============================================
*/
.menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none; /* tar bort plupparna */
}

.menu li {
	display: inline-block; /* så att varje li blir ett block 
							och de ligger sida vid sida */
	padding: 8px 12px;  /*  top&bottom, right&left*/
	background-color: MediumTurquoise;
	cursor: pointer; 
}
/* länkarna i meny-listobjekten */
.menu li a, .menu li a:visited {
	color: #fff;
}

.menu li:hover {
	background-color: LightSeaGreen;
}
.menu li a:hover {
	color: #fff;
}


/* 
* innehåll =========================================
*/

.container {
	background-color: #fff;
	padding: 50px;
	margin: 20px auto;
	width: 50%;
}

/* submitknapp, typ 'boka', 'lägg i favoriter' etc */ 
.submit_button, .submit_button_delete {
	background-color: lightseagreen;
	padding: 7px 10px; /* 7px top&bottom, 10px right&left*/
	border: none;
	color: #fff;
	cursor: pointer; /* så att musen blir en pekare */
}

/* deleteknapp, samma som ovan men röd */
.submit_button_delete {
	background-color: firebrick;
}

/* mouse hover på submitknapp */
.submit_button:hover {
	background-color: darkcyan;
}

/* mouse hover på deleteknapp */
.submit_button_delete:hover {
	background-color: darkred;
}

form {
	width: 100%;
	text-align: right;
}
form p, form h2, form h3 {
	text-align: left;
}

form#search input[type='text'] {
	display: block;
	width: 100%;
	padding: 7px 7px;
}